.iconfont{
    margin-right: 8px;
}
.layui-icon{
    margin-right: 8px; 
}
.layui-footer{
    text-align: center;
}
iframe{
    width: 100%;
    height: 100%;
}
.layui-body{
    overflow: hidden;
}
a{
    transition: none!important;
}